# Ignore application secrets configuration
/src/main/resources/application-secrets.yml

# Compiled class file
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Maven specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Gradle specific
.gradle/
build/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
