<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laoayu.parking.system.mapper.UserParkMapper">
    <delete id="deleteByUserIdAndParkId" parameterType="map">
        DELETE FROM sys_user_park
        WHERE user_id = #{userId} AND park_id = #{parkId}
    </delete>

</mapper>
